.env
/node_modules
npm-debug.log
yarn-error.log
/dist
/logs
yarn.lock
.DS_Store

/data/dumps/*
/data/mysql/*
/data/redis/*
/data/certbot/conf/*
/data/certbot/dhparam/*
/data/certbot/logs/*

!/data/dumps/.gitkeep
!/data/mysql/.gitkeep
!/data/redis/.gitkeep
!/data/certbot/conf/.gitkeep
!/data/certbot/dhparam/.gitkeep
!/data/certbot/logs/.gitkeep